<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Caffina</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <header>
    <nav>
      <div class="logo-section">
        <h1>Caffina</h1>
        <img src="/Assets/images/logo.png" alt="logo" />
      </div>
      <ul>
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">About</a></li>
      </ul>
      <div>
        <button>Contact</button>
      </div>
    </nav>
  </header>

 
    <section id="home-section">
      <div class="home-left-section">
        <h1>Welcome to Our <span>Coffee</span> Shop</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore atque
          officia nihil itaque.
        </p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        <button class="home-shop-btn-section">
            <span>Shop now</span>
            <img src="/Assets/icons/arrow-right.png" alt="Arrow">
        </button>

      </div>
      <div class="home-right-section">
        <img src="/Assets/images/banner-img.png" alt="banner-img" />
      </div>
    </section>
<!-- shop section start here  -->
    <section id="shop-section">
        <div class="shop-header-section">
            <h1>Shop now</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident incidunt blanditiis reiciendis.</p>
        </div>
        <div class="shop-cards-section">
            <div class="shop-card-section">
                <img src="/Assets/images/img-1.jpeg" alt="Coffee 1" />
                <h2>Espresso</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea, possimus.</p>
                <strong>12 $</strong>
                <button>Add to cart</button>
            </div>
            <div class="shop-card-section">
                <img src="/Assets/images/img-2.jpeg" alt="Coffee 1" />
                <h2>Espresso</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea, possimus.</p>
                <strong>16 $</strong>
                <button>Add to cart</button>
            </div>
            <div class="shop-card-section">
                <img src="/Assets/images/img-3.jpeg" alt="Coffee 1" />
                <h2>Espresso</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea, possimus.</p>
                <strong>17 $</strong>
                <button>Add to cart</button>
            </div>
            <div class="shop-card-section">
                <img src="/Assets/images/img-3.jpeg" alt="Coffee 1" />
                <h2>Espresso</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea, possimus.</p>
                <strong>10 $</strong>
                <button>Add to cart</button>
            </div>
        </div>
    </section>
    <section id="about-section">
        <div class="about-left-section">
            <img src="/Assets/images/about-us.png" alt="">
        </div>
        <div class="about-right-section">
            <button>About us</button>
            <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed corporis aliquid magni?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id velit vero aut cupiditate.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore, tempore ullam vero officia voluptatem et blanditiis laborum.</p>
            <button>Learn more</button>
        </div>
        
    </section>
    <section id="contact-section"></section>
    <section class="reviews-section"></section>
  

  <script src="script.js"></script>
</body>
</html>
