* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: #fff;
    position: fixed;
    width: 100%;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
  padding: 20px 0;
  z-index: 999;
}

.logo-section {
  display: flex;
  align-items: center;
}

.logo-section h1 {
  font-size: 24px;
  margin-right: 3px;
}

.logo-section img {
  width: 30px;
}

header nav ul {
  display: flex;
  list-style: none;
  gap: 50px;
}

header nav ul li a {
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 50px;
  color: #000;
}

header nav ul li a.active,
header nav ul li a:hover {
  background-color: #b6a2a2;
  color: #fff;
}

header nav button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
}
/* home */
#home-section {
    padding-top: 120px;
    background : linear-gradient(red 10%, 30%, blue 90%);
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 100px; */
}



.home-right-section img {
  max-width: 100%;
  max-width: 350px;
  height: auto;
  display: block;
}
.home-left-section h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.home-left-section p{
    font-size: 16px;
    margin-bottom: 20px;
}

.home-left-section .home-shop-btn-section {
    margin-top: 30px;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    color: #333;
    font-size: 18px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    cursor: pointer;
 
}

.home-left-section .home-shop-btn-section img {
    width: 18px;
    height: 18px;
    display: inline-block;
    object-fit: contain;
    margin-top: 4.8px;
}


/* shop */

#shop-section{
    background: linear-gradient(to right, #f4f4f4, #e0e0e0);
    width: 100%;
    height: auto;
    color: #333;
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 100px;

}
.shop-header-section{
    text-align: center;
}
.shop-cards-section{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    align-items: center;

}
.shop-card-section{
    background-color: #fff;
    padding: 7px;
    max-width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.shop-card-section img{
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 6px;
    
}
.shop-card-section h2{
    font-size: 24px;
    margin: 10px 0;
    text-transform: uppercase;
}
.shop-card-section p{
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}
.shop-card-section strong{
    font-size: 18px;
    color: blue;
}
.shop-card-section button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}




/* about section */

#about-section{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 40px;
    gap: 20px;
    
}

.about-left-section img{
  max-width: 100%;
  height: auto;
  display: block;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 23px;
}

.about-right-section button:nth-child(1){
  border: none;
  padding: 7px;
  background-color:#fff;
  font-size: 25px;
}
.about-right-section button:nth-child(1)::after{
  content: "";
  max-width: 200px;
  width: 200px;
  margin-top: 14px;
  background:linear-gradient(yellow ,blue,pink ,green);
  display: block;
  height: 3px;
}

.about-right-section h1{
  font-size: 25px;
  margin-top: 13px;
  margin-bottom: 13px;
  text-align: center;
}

.about-right-section p{
  font-size: 18px;
  max-width: 100%;
  width: 800px;
  margin-left: 12px;
  
}

.about-right-section button:nth-of-type(2){
  background-color: blue;
  margin-top: 13px;
  margin-left: 12px;
  max-width: 150px;
  width: 150px;
  padding: 7px;
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 16px;
  color: white;
}


/* contact section */
#contact-section{
    background-color: #d0baba;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 100px 40px;
    gap: 20px;
}
#contact-section form{
  display: flex;
  flex-direction: column;
  width: 70%;
}
#contact-section form input{
  width: 100%;
  padding: 7px;
  border-radius: 10px;
  border: none;
  outline: none;
}
#contact-section form textarea{
  width: 100%;
  border-radius: 10px;
  border: none;
  padding: 7px;
  outline: none;
  resize: none;
}
#contact-section form label{
  font-size: 15px;
  font-weight: 500;
  margin-left: 1%;
}
#contact-section form button{
  margin-top: 2%;
  padding: 7px;
  outline: none;
  border: none;
  border-radius: 19px;
  font-size: 14px;
  background: rgb(213, 175, 104);
}
#contact-section form button:hover{
  background: rgb(177, 143, 79);
}